@model IEnumerable<Modelos.Unidade>

@{
    ViewBag.Title = "Unidade";
}
<h3>@ViewBag.Title</h3>
<table class="table table-bordered">
    <caption>Lista de Unidades</caption>
    <thead>
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.SgUnidade)
            </th>
            <th width="600">
                @Html.DisplayNameFor(model => model.DsUnidade)
            </th>
            <th colspan="3">Funções</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SgUnidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DsUnidade)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.SgUnidade }, new { @class = "btn btn-default btn-sm" })
                @Html.ActionLink("Detalhe", "Details", new { id = item.SgUnidade }, new { @class = "btn btn-default btn-sm" })
                @Html.ActionLink("Excluir", "Delete", new { id = item.SgUnidade }, new { @class = "btn btn-default btn-sm" })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Incluir", "Create", null, new { @class = "btn btn-default btn-lg" })
</p>
