@model IEnumerable<Modelos.Produto>

@{
    ViewBag.Title = "Produto";
}
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h2>@ViewBag.Title</h2>
        <table class="table table-bordered">
            <caption>Lista de Produtos</caption>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario.nmUsuario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Categoria.NmCategoria)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.nmProduto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dsProduto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SgUnidade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.vlPreco)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.qtEstoque)
                    </th>
                    <th colspan="3">Funções</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario.nmUsuario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria.NmCategoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nmProduto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dsProduto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SgUnidade)
                        </td>
                        <td align="right">
                            @Html.DisplayFor(modelItem => item.vlPreco)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.qtEstoque)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { Pid = item.ID }, new { @class = "btn btn-default btn-sm" })
                        </td>
                        <td>
                            @Html.ActionLink("Detalhe", "Details", new { Pid = item.ID }, new { @class = "btn btn-default btn-sm" })
                        </td>
                        <td>
                            @Html.ActionLink("Excluir", "Delete", new { Pid = item.ID }, new { @class = "btn btn-default btn-sm" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div>
            <ul class="pagination">
                @for (int i = 1; i <= ViewBag.Pages; i++)
                {
                    if (ViewBag.Pages > 1)
                    {
                        if (ViewBag.Page == i)
                        {
                            <li class="pages"><span class="page active">@i</span></li>
                        }
                        else
                        {
                            <li class="pages">@Html.ActionLink(i.ToString(), "Index", new { pagina = i }, new { @class = "page" })</li>
                        }
                    }
                }
            </ul>
        </div>
        <div class="h4">
            @Html.ActionLink("Incluir", "Create", null, new { @class = "btn btn-default btn-lg" })
        </div>
    </div>
}


